{% extends 'base.html.twig' %}

{% block title %}facturation facture{% endblock %}

{# templates/facturation/facture.html.twig #}



{% block body %}
   
    <div class='container'>
        <div class='row'>    
            <img src="/images/image.png" class="logo "> 
                <div class='col-6 my-auto'>
                    <div>Facture N° {{ facId }}</div><br><br>
                     <div>(Commande N°  {{ comId }}  du  {{ comDate ? comDate|date('Y-m-d') : '' }})</div><br>
                      <div>Date : {{ facDate ? facDate|date('Y-m-d') : '' }}</div><br>
                      
                </div>
                <br><br>
            <div class='border mb-2 py-2'>
            <br>
            Client :  <br> {{ adresse }} ,<br>email: {{ email }},<br>tel: {{ tel }}<br><br>
            </div>
            
            <div class='border py-3'>
            Adresse de facturation :<br> {{ adresseFac }}<br>
            </div>
        </div>
    
    <div class='mt-5'> Description de la commande </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>REF.</th>
                <th>DESIGNATION</th>
                <th>P U</th>
                <th>Quantité</th>
                <th>Total HT</th>
                <th>Tva</th>
                <th>prix ttc</th>
              
            </tr>
        </thead>
        <tbody>
        {% set finalTotal = 0 %}
        {% for commande in commandes %}
            <tr>
             <td>{{ commande.p_id }}</td>
              <td>{{ commande.p_nom }}</td>
                <td>{{ commande.p_prix }}</td>
                <td>{{ commande.p_quantite }}</td>
                <td>{{ commande.p_SousTotal }}</td>
                <td>20%</td>
                <td>{{ (commande.p_SousTotal* 1.2) | round(2) }}</td>
             {% set finalTotal = finalTotal + (commande.p_SousTotal * 1.2) %}
    </tr>
{% else %}
    <tr>
        <td colspan="10">no records found</td>
    </tr>
{% endfor %}

          
          <tfoot>
    <tr>
        <td colspan="3"></td>
        <td colspan="3">Total</td>
        <td>{{ finalTotal | round(2) }} €</td>
    </tr>
</tfoot>
          
    </table>

   
    </div>
{% endblock %}
