{% extends 'base.html.twig' %}

{% block title %}facturation facture{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<div class="col-12  text-center ">
    <h1>Facture N° :</h1>

     <table class="table">
        <thead>
            <tr>
                 {# <th>n° commande</th>
                 <th>date</th>
                <th>produits</th>
                <th>prix</th>
                <th>quantite</th> #}
                 <th>adresse livraison</th> 
                 <th>adresse_facturation</th> 
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}

               {# <td>{{ commande.com_id }}</td>
               <td>{{ commande.date|date("Y-m-d H:i:s") }}</td>
                <td>{{ commande.p_nom }}</td>
                <td>{{ commande.prix }}</td>
                 <td>{{ commande.quantite }}</td> #}
                 <td>{{ facture.adresse1 }}</td>
                 <td>{{ facture.adresse2 }}</td>
                 
                  </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>


   <div class="container">
		<div class="row">
			<div class="col-12 col-sm-4 col-md-8 col-lg-6 text-center ">
   
    {# <table class="table"> #}
        {# <thead> #}

            {# <tr> #}
            <div class="container">
		<div class="row">
			<div class="col-12  text-center ">
                 <h4>n° commande</h4>
                 <h4>date</h4>
                <h4>produits</h4>
                <h4>prix</h4>
                <h4>quantite</h4>
                 <h4>adresse livraison</h4> 
                 <h4>adresse_facturation</h4> 
            {# </tr>
        </thead> #}
        <tbody>
        {% for facture in factures %}

               {# <td>{{ commande.com_id }}</td>
               <td>{{ commande.date|date("Y-m-d H:i:s") }}</td> #}
                {# <td>{{ facture.cli_nom }}</td> #}
                <td>{{ facture.prix }}</td>
                 <td>{{ facture.quantite }}</td>
                 <td>{{ facture.adresse1 }}</td>
                 <td>{{ facture.adresse2 }}</td>
                 
                  </div>
        {# {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody> #}
    {# </table> #}
                    {# <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    

    {# <a href="{{ path('app_facture_new') }}">Create new</a> #}
{% endblock %}
