{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}

   <div class="container">
		<div class="row">
			<div class="col-12  text-center ">
   <h1>facture N°</h1>  <td>FACT{{ facture.id+1000 }}</td>
   <br><br><br>
   <h1>commande N°</h1>  <td>COM{{ facture.idCommande+1000 }}</td>




   
    <br><br><br>

    <div class="col-7 col sm-3   text-center">
   <table class="table">
   
        <thead>
       
        <tr>
         <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>telephone</th>
                </tr>
        </thead>
        <tbody>
        <tr>
         <td>{{ facture.cliNom }}</td>
                <td>{{ facture.cliPrenom }}</td>
                <td>{{ facture.cliEmail }}</td>
                <td>{{ facture.cliTelephone }}</td>
                </tr>
             
        </tbody>
    </table>

<br><br><br>

<ta<div class="container">
		<div class="row">
			<div class="col-12  text-center ">
            <div>
            <th>Adresse livraison</th> <td>{{ facture.adresseLivraison }}</td><br>
                <th>Adresse facturation</th><br>
                {# <td>{{ facture.adresseLivraison }}</td><br> #}
                 <td>{{ facture.adresseFacturation }}</td><br>
                 </div>



    <ta<div class="container">
		<div class="row">
			<div class="col-12  text-center ">
                <th>commande</th>
                {# <th>date commande</th> #}
               
                
                <th>produit</th><br>
                <th>prix</th><br>
                <th>quantite</th>

                
                {# <th>Commentaire</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>

            <tr>
                {# <td>{{ facture.idCommande }}</td>
                #}
                {# <td>{{ facture.comId }}</td> #}
                
                <td>{{ facture.produit }}</td><br> 
                <td>{{ facture.prix }}</td><br>
                <td>{{ facture.quantite }}</td><br>
                <td>
                     {# <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a>  #}
                    {# <a href="{{ path('app_commande_crud_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
              {# <a href="{{ path('app_facture_show', {'id': facture.id}) }}">show</a> #}
        {# {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %} #}
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    {# <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a> #}

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
